nav,header {
    background-color:#589BDE;
}

.myname, .linkable_nonbutton, .mynamewithjobtitle {
    color:#FFFFFF;
}

body {
    width: 900px;
    text-decoration: none;
    font-family: 'Vollkorn', serif;
    
}



#about {
    background-color: #FFFFF;
    color: #000000;
}

.skillsall {
    background-color: #589BDE;
    color: #FFFFFF;
}

#experience {
    background-color: #FFFFF;
    color: #000000;
}

#footer {
    background-color: #1D5185;
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color:#FFFFFF;
    margin: 20px 80px;
    border:1px solid red;
}

.headeritem2 {
    flex-grow:1;
    border:1px solid red;
}
.headeritem1 {
    flex-grow: 4;
    border:1px solid red;
}

div ul {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    padding-right: 0px;
    list-style-type: square;
    color:#FFFFFF;
    flex-grow: 4;
}

.headersection2 {
    display: flex;
    color: #FFFFFF;
    align-content: center;
    justify-content: space-between;
    margin: 20px 80px;
    border: 1px solid red;               /*remove*/
}

.picturepart {
    border: 1px solid red;                   /*remove*/
    justify-content: flex-end;
}

.namepart {
    border: 1px solid red;               /*remove*/
    font-size: 18pt;
    justify-content: flex-start;
}

.outofskillsall {
    background-color: #589BDE;
    color: #FFFFFF;
}

.skillsall {
    border: 1px solid red;  /*remove*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:80px;
}
.skill-list-item {
    padding: 0px;
    border: 1px solid red;      /*remove*/
    display: flex;
    align-items: flex-start;
    width:800px;
    
}

.skillnamepart {
    border: 1px solid red;
    flex:1;
}

.meterpart {
    border: 1px solid red;  
    flex:3;
}
